@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hidden {
  /* Hide scrollbars across different browsers */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */

  /* Hide scrollbars for WebKit browsers (Chrome, Safari, Edge) */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Control overflow behavior */
  overflow: auto; /* Allow scrolling without visible scrollbars */
}